<div class="flex flex-col min-h-[1080px] max-h-[1080px] max-w-[1920px] text-3xl p-5 gap-5 overflow-x-hidden overflow-y-hidden relative text-gray-800">
    <div class="flex flex-row w-full bg-gray-100 transition-all delay-[6000ms] duration-1000 z-30 rounded" [ngClass]="show ? '-translate-x-0' : '-translate-x-[110%]'">
      <div class="w-1/4 px-5 py-4 bg-gray-500 text-white text-center font-bold text-4xl rounded-l">
        <span class="duration-300 delay-[8100ms] transition-opacity" [ngClass]="show ? 'opacity-100' : 'opacity-0'">{{info == 2 ? 'Peringatan Dini Cuaca' : 'Prakiraan Cuaca'}}</span>
      </div>
      <div class="flex-1 px-5 py-4 text-center font-bold text-5xl ">
        <span class="duration-300 delay-[8100ms] transition-opacity" [ngClass]="show ? 'opacity-100' : 'opacity-0'">{{ data.city }}</span>
      </div>
      <div class="w-1/4 px-5 py-4 bg-gray-500 text-white text-center font-bold text-4xl rounded-r">
        <span class="duration-300 delay-[8100ms] transition-opacity" [ngClass]="show ? 'opacity-100' : 'opacity-0'">{{ data.province }}</span>
      </div>
    </div>
    <div class="flex flex-row justify-center gap-5 delay-[7000ms] transition-all duration-700 font-bold z-20" [ngClass]="show ? '-translate-y-0 opacity-100' : '-translate-y-[300%] opacity-0'">
      <ng-container *ngFor="let item of data.data; let i = index">
        <div class="w-1/4 rounded " [ngClass]=" date == i ? 'bg-slate-700 scale-105' : 'bg-gray-500'" (click)="changeDate(i)">
          <div class="px-5 py-4 text-white text-center  transition-all duration-1000 delay-[2100ms] rounded" [ngClass]="show ? 'bg-transparent': 'bg-gray-500'">
            <span class="duration-300 delay-[8100ms] transition-opacity" [ngClass]="show ? 'opacity-100' : 'opacity-0'"> {{ item.date }}</span>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="flex-1 flex flex-row py-24 px-32 gap-10 justify-center">

      <ng-container *ngIf="info < 2">
        <ng-container *ngFor="let item of currentData; let i = index">
            <app-card-weather [data]="item" [class]="'transition-all duration-700 ' + delay[i] " [ngClass]=" showWeather ? 'translate-y-0' : 'translate-y-[200%]'"></app-card-weather>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="info > 1" >
        <div class="flex-1 flex flex-row gap-5" >
          <div class="w-1/2 bg-slate-400 p-3 transition-all duration-1000 z-10 rounded" [ngClass]=" showWeather ? '-translate-x-0' : '-translate-x-[200%]'">
            <div class="bg-[url('https://statis.dewi.me/uploads/2022/02/indonesia-37-provinsi-berwarna.png')] bg-no-repeat bg-center h-full w-full bg-contain"></div>
          </div>
          <div class="flex-1 flex flex-col gap-5 transition-all duration-1000 relative" [ngClass]="showWeather ? '-translate-x-0' : ' -translate-x-[800%]'">
            <div class="h-32 bg-slate-600 w-full flex flex-row  place-items-center justify-between z-20">
              <div class="px-5 bg-black  h-full text-white flex flex-row place-items-center justify-center">
                <i class="fa-solid fa-cloud-bolt text-8xl"></i>
              </div>
              <span class="flex-1 font-bold my-auto text-4xl text-center text-white">Potensi Hujan Lebat Disertai Petir</span>
            </div>
            <div class="flex-1 flex flex-row bg-slate-400 delay-[1000ms] transition-all duration-700 rounded " [ngClass]="showWeather ? '-translate-y-0 scale-y-100' : '-translate-y-60 scale-y-0'">
              <ul class="flex-1 flex flex-col gap-2 justify-center p-10 text-3xl font-bold rounded bg-slate-500 ">
                <li class=" list-disc">Kecamatan A</li>
                <li class=" list-disc">Kecamatan B</li>
                <li class=" list-disc">Kecamatan C</li>
                <li class=" list-disc">Kecamatan D</li>
                <li class=" list-disc">Kecamatan E</li>
              </ul>
              <div class="flex-1 text-2xl font-bold flex flex-col justify-center place-items-center p-10">
                <p class="text-center">Waspada disertai hujan lebat dan petir diwilayah tersebut pada waktu siang hingga malam hari</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>


    </div>
    <div class="flex flex-row w-full bg-gray-100 z-10 rounded">
      <div class="w-1/4 px-5 py-4 bg-gray-500 text-white text-center flex flex-row justify-around place-items-center rounded-l">
        <img src="https://cdn.bmkg.go.id/Web/Logo-BMKG-new.png" class="h-14" alt="">
        <span class="font-bold text-5xl">11:10 WIB</span>
      </div>
      <div class="flex-1 px-5 py-4 font-bold text-center flex flex-col place-items-center justify-center text-3xl">
        <span>{{"< Informasi Tambahan >" }}</span>
      </div>
    </div>
  </div>
